@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #005D68;
  --secondary-color:  #00A1A2;
  --tertiary-color: #FFB253;
  --text-primary-color: #334244;
  --highlight-text: #edf1fd66;
  --text-secundary-color:  #F5F5F7;
  --background: #2F6F70;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2F6F70;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--raleway-font), -apple-system, Helvetica Neue, sans-serif;
}

html, body {
  color: var(--text-primary-color);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-size: 18px;
}

h1, h2, h3, h5, h6 {
  font-family: var(--formaDJRMicro-font), -apple-system, Helvetica Neue, sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 36px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 1;
  }

  h2 {
    line-height: 2.5rem
  }
}

.highlight {
  background-image: linear-gradient(
    180deg,
    transparent 50%,
    var(--highlight-text) 0,
    var(--highlight-text)
  );
  display: inline-block;
  background-size: 95% 75%;
  background-repeat: no-repeat;
  overflow: visible;
  padding-right: 12px;
  background-position-x: 80%;
  background-position-y: 50%;
}

.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  border-radius: 50%;
  border: 3px solid #FFE8CB;
}

@keyframes blur {
  0% {
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
  }
  50% {
    -webkit-filter: blur(200px);
    -moz-filter: blur(200px);
    -o-filter: blur(200px);
    -ms-filter: blur(200px);
  }
  100% {
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem/* 48px */;
    line-height: 1;
  }

  h2 {
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */
  }
}